<!------------------------>
<!-- VITAMIN C -->
<!------------------------>


<!-- HERO IMAGE  -->
<!--<div class="article__hero-image"><img alt="" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-GLOW-BABY-HEADER-BLOND-WOMAN.jpg?v=1715106114"></div>  -->
<!--<div class="article__hero-image"><img alt="" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-VITAMINC-HEADER-RC.png?v=1715274902"></div>  -->

<!-- section - restricts width  -->
<div class="article__section-container">

    <h2>We all want glowy, glassy skin with texture like a glazed donut. And chances are, you’ve heard about, tested, or are currently using beauty’s most beloved molecular powerhouse, vitamin C.</h2>
    <p>Our bodies need vitamin C on a daily basis. Since we can’t create it on our own, we have to get it elsewhere (think fruits, veggies, and wellness supplements). Applying topical vitamin C in your daily skincare routine touts a long list of positives cheered by derms + pros.&nbsp;<strong>Let's break down our favorite 5.</strong></p>
    
    </div>
    
    
    <!-- image section - no restriction on width -->
    <div class="row center-xs article__author-image">
        <div class="col-xs-12 col-lg-8"><img src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-IMG-BENEFITS-VITAMIN-C-1b.png?v=1715629660" alt="Glow Baby"></div>
    </div>
    
    <!-- section - restricts width  -->
    <div class="article__section-container">
    
        <div class="article__sub-title" style="padding:10px 0 40px 0;"><span class="font-melt">Vitamin C.</span> <br><strong>Our top 5 reasons you need it</strong></div>
    
    
    <h2><strong>01. age-defying properties of vitamin C</strong> <sup>(1, 2)</sup></h2>
    
    <h3>Induces collagen synthesis and enhances barrier lipid production, which tightens, firms, and lessens the depth of fine lines + wrinkles.</h3>
    
    <p>Adding topical vitamin C to your routine can significantly enhance collagen synthesis, a vital process for maintaining a youthful complexion. By stimulating collagen production, vitamin C serum can help maintain skin health and resilience, effectively reducing the appearance of fine lines and providing a firmer, more youthful look. This is especially crucial for those concerned with premature aging and seeking healthy skin. &nbsp;</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>02. anti-inflammatory</strong> <sup>(2)</sup></h2>
    
    <h3>Inhibits pro-inflammatory cytokines, fighting against acne and calming other skin inflammations such as rosacea.</h3>
    
    <p>For individuals with sensitive skin, incorporating vitamin C into their daily regimen offers soothing anti-inflammatory benefits. This powerhouse ingredient targets cells directly, reducing redness and discomfort associated with skin inflammations. It's a gentle yet effective way to achieve healthy skin without exacerbating sensitive skin conditions.&nbsp;&nbsp;</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>03. evens skin tone&nbsp;</strong><sup>(1, 2)</sup></h2>
    
    <h3>Brightens hyperpigmentation and fades dark spots by decreasing melanin synthesis.</h3>
    
    <p>The benefits of using vitamin C for face extends to correcting hyperpigmentation and fading dark spots, offering a more even skin tone for all skin types. Its ability to inhibit melanin synthesis means that consistent application of vitamin C can lead to a clearer and more consistent complexion. &nbsp;</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>04. evens skin texture </strong><sup>(1)</sup></h2>
    
    <h3>Prevents scarring and heals wounds by increasing fibroblast formation in skin cells.</h3>
    
    <p>Beyond its color-correcting capabilities, vitamin C plays a crucial role in enhancing skin texture by promoting the repair and renewal of skin cells. This action helps minimize scars and smooth out imperfections, making vitamin C an essential component of any skincare routine aimed at achieving a smooth and glowing complexion. &nbsp;</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>05. antioxidizes</strong>&nbsp;<sup>(1, 2)</sup></h2>
    
    <h3>Neutralizes free radicals and removes oxidants found in environmental toxins and UVA/B exposure, repairing and defending against sun damage (when paired with SPF + Vitamin E).</h3>
    
    <p>The antioxidative properties of vitamin C provide a protective shield against environmental aggressors like UV exposure and pollution, which are known to cause sun damage and accelerate aging. By neutralizing harmful free radicals, vitamin C serum helps maintain skin health, preventing oxidative stress and promoting a radiant appearance.</p>
    
    <p>But before you rush off to the nearest pharmacy and start slathering-on any vitamin C face serum, it’s really important to choose the right kind of skincare product paired with the right ingredients.&nbsp;&nbsp;</p>
    
    </div>
    
    
    <!-- image section - no restriction on width -->
    <div class="row center-xs article__author-image">
        <div class="col-xs-12 col-lg-10"><img src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-IMG-BENEFITS-VITAMIN-C-2b.png?v=1715629661" alt="Glow Baby"></div>
    </div>
    
    <!-- image section - no restriction on width -->
    <!--<div class="row center-xs">
        <div class="col-xs-6 col-lg-2"><img src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-KAKADU.png?v=1715385111" alt="Glow Baby"></div>
    </div>
     -->
    
    <!-- section - restricts width  -->
    <div class="article__section-container">
    
    <h2><strong>discovering kakadu plum: a vitamin C powerhouse</strong></h2>
    
    <!-- image section - no restriction on width -->
    <!-- <div style="text-align: right;"><img style="float: right;" alt="Kakadu Plum" src="https://cdn.shopify.com/s/files/1/1515/0462/files/kakadu_plum_photos_abundance_d11f3493-ef83-41cb-abb6-f400f21ad4be_240x240.png?v=1710119499"></div>  -->
    
    <p>At Pacfica, we use Kakadu Plum, a bioactive superfood with the highest known stabilized concentration of Vitamin C in the world (100x more than in oranges). We especially love Kakadu because its nickname is the billy goat plum (so cute right).</p>
    
    </div>
    
    <!-- pull quote - no restriction on width -->
    <div class="row center-xs article__pull-quote-container">
        <div class="col-xs-10 col-md-6 article__pull-quote"><span class="font-melt">"</span><span class="font-melt">Kakadu Plum is a bioactive</span> superfood with the highest known stabilized concentration <br class="hidden-phone">of Vitamin C in the world <br class="hidden-phone">(100x more than in oranges).<span class="">"</span></div>
    </div>
    
    
    <!-- section - restricts width  -->
    <div class="article__section-container">
    
    <p><meta charset="utf-8"><a href="https://www.pacificabeauty.com/collections/glow-baby">Glow Baby</a> is one of our bestselling lines showing such great outcomes because we pair Kakadu Plum with a few of our all-time favorite skintentional and biocompatible ingredients such as Vitamin E (tocopherol), Vitamin B (niacinamide), and AHAs like Glycolic Acid. Working in defiance of aging skin, sun damage, and hyperpigmentation, they’re imperative in leaving your skin feeling smoother, brighter, and more radiant.&nbsp;&nbsp;</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>when do I apply vitamin C in my skincare routine?</strong></h2>
    
    <h3>Knowing when to layer into which step is important in order to optimize the key vitamin C benefits. Follow our quick 5 step morning skincare routine consistently for best results:</h3>
    
    <ol>
    <li>If you cleanse in the morning, start with <a href="https://www.pacificabeauty.com/collections/glow-baby/products/glow-baby-brightening-face-wash">Glow Baby Brightening Face Wash</a> to gently exfoliate for a brightened, clean canvas.</li>
    <li>Next, apply <a href="https://www.pacificabeauty.com/collections/glow-baby/products/glow-baby-booster-serum">Glow Baby Booster Serum</a> for your antioxidant dosage of vitamin C + glycolic acid to boost your day’s glow.</li>
    <li>Seal in the serum’s potency with <a href="https://www.pacificabeauty.com/collections/glow-baby/products/glow-baby-glow-baby-super-lit-spf-lotion">Glow Baby Super Lit Lotion</a> for SPF 30 protection against UV damage, your fairy godmother in an age-defying toolkit.</li>
    <li>Apply our skincare-makeup hybrid <meta charset="utf-8"> <a data-mce-fragment="1" href="https://www.pacificabeauty.com/products/sunny-glow-bronzing-drops" data-mce-href="https://www.pacificabeauty.com/products/sunny-glow-bronzing-drops">Sunny Glow Bronzing Drops</a> serum-meets-complexion-enhancer-meets-bronzer to instantly illuminate with a cute bronzy glow.</li>
    <li>Finish up with our SPF 45 suncare, skincare, and makeup setting spray <a href="https://www.pacificabeauty.com/collections/glow-baby/products/glow-baby-brightening-setting-mist">Glow Baby Brightening Setting Mist</a> for lightweight protection and glassy hydration.&nbsp; &nbsp;</li>
    </ol>
    
    <p>Check out <a href="https://www.pacificabeauty.com/products/sunny-glow-bronzing-drops">Sunny Glow Bronzing Drops</a> and <a href="https://www.pacificabeauty.com/collections/glow-baby">Glow Baby</a> to experience the glow for yourself! Exploring the benefits of vitamin C for achieving a glowing, healthy complexion opens the door to further enhancing your skincare routine. For a deeper dive into how other essential nutrients contribute to skin wellness, check out our insights on ‘vitamin a skin benefits.’</p>
    
    </div>
    
    <!-- image section - no restriction on width -->
    <!-- -->
    <div class="row center-xs article__author-image">
        <div class="col-xs-12 col-lg-10"><img src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-IMG-BENEFITS-VITAMIN-C-3b.png?v=1715629661" alt="Glow Baby"></div>
    </div>
    
    
    <!-- section - restricts width  -->
    <div class="article__section-container">
    
    <p><span style="text-decoration: underline;"><strong>References</strong></span></p>
    
    <ol>
    <li><em>Pullar JM, Carr AC, Vissers MCM. “<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5579659/" target="_blank">The Roles of Vitamin C in Skin Health.</a>” Nutrients. 2017 Aug 12;9(8):866. doi: 10.3390/nu9080866. PMID: 28805671; PMCID: PMC5579659.&nbsp;</em></li>
    <li><em>Telang PS. “<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3673383/">Vitamin C in dermatology.</a>” Indian Dermatol Online J. 2013 Apr;4(2):143-6. doi: 10.4103/2229-5178.110593. PMID: 23741676; PMCID: PMC3673383.&nbsp;&nbsp;</em></li>
    </ol>
    
    <p>Learn more about our <a href="https://www.pacificabeauty.com/collections/glow-baby">Vitamin C Products</a>.</p>
    <p>&nbsp;</p>
    
    </div>

<!------------------------>
<!-- ROSEMARY -->
<!------------------------>

<!-- HERO IMAGE  -->
<!-- <div class="article__hero-image"><img alt="" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-Header-ScalpCare-Helena_2048x2048.png?v=1710382529"></div> -->

<!-- section - restricts width  -->
<div class="article__section-container">
      
    <h2 class="article__first-paragraph drop-cap">Healthy hair starts at the root. And when your hair is dry, brittle, and isn’t falling the way you feel that it should, it usually means your scalp is to blame. We take so much care to make sure our face is glowing with multi-step routines, but we often leave the skin of our scalp by the wayside.</h2>
    <p>Take a closer look at your scalp. Do you see dry patches, flakiness, or redness? Does it feel tight, itchy, or just straight-up uncomfortable? Although easy to ignore, these are signs pointing to scalp irritation and an unhappy scalp environment. &nbsp;</p>
    <p>From climate to stress to certain skin conditions, there can be many layers that affect scalp and overall hair health. But thankfully for us, there are certain practices and products we can incorporate into our routines that help stimulate, detox, and hydrate our scalps in order to start achieving the hair goals of our dreams. &nbsp;</p>
    <p>We asked&nbsp;content creator and beauty expert (who just so happens to be a scalp care fanatic with gorgeous hair) <strong>Helena De Lang</strong>&nbsp;to walk us through what scalp care means to her and how she lives by it in her day to day. &nbsp;</p>
    
    </div>
    
    <!-- image section - no restriction on width -->
    <div class="row center-xs article__author-image">
        <div class="col-xs-12 col-lg-10"><img alt="Helena De Lang" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-CONTRIBUTOR-HELENA2.jpg?v=1715103867"></div>
    </div>
    
    <!-- section - restricts width  -->
    <div class="article__section-container">
    
    <p>&nbsp;</p>
    <h2><strong>What is your hair type + texture?</strong></h2>
    <p>I’d say my hair is curly medium to thick. It’s kind of, I don’t want to say dry, but because I have curly hair, if my curls aren’t fully hydrated, they’ll just kind of be their own fluffy mess. My texture is soft and fluffy, but with the right products my curls are curly. My hair becomes drier when I style it more often and especially during the winter.</p>
    <p>&nbsp;</p>
    <h2><strong>What are your personal hair goals?</strong></h2>
    <p>I’ve always wanted to have long and healthy hair, but I feel like my hair has only really ever grown midway down my back. I don’t know if it has to do with hair type, texture, or thickness, but not everyone’s hair grows the same. I think it’s important to accept how your hair is when it’s healthy. Since my most recent haircut, my goals are restoring and reparative care. I haven’t used heat once since the chop and I’ve been doing scalp care and hydrating treatments, which help me accept and just enjoy my hair. Since, my curls have been sitting from root to end.</p>
    
    </div>
    
    <!-- pull quote - no restriction on width -->
    <div class="row center-xs article__pull-quote-container">
        <!-- <div class="col-xs-10 col-md-7 article__pull-quote"><span class="font-melt">"</span><br><span class="font-melt">For treatments, I try to</span> always apply products on damp hair because my strands act like sponges while airdrying.<br><span class="font-melt" style="display: inline-block; padding-top: 15px;">"</span></div>  -->
        <div class="col-xs-10 col-md-6 article__pull-quote"><span class="font-melt">"</span><span class="font-melt">For treatments, I try to</span> always apply products on damp hair because my strands act like sponges while airdrying.<span class="">"</span></div>
    </div>
    
    
    
    <!-- section - restricts width  -->
    <div class="article__section-container">
    
    <h2><strong>Do you notice your hair change or grow differently <br class="hidden-phone">with the seasons?</strong></h2>
    <p>I think it does, mainly because with less moisture being in the air, I don’t think my hair is really sitting as it should. In winter my hair gets way more dry and I need to apply more products and wash my hair less. My hair is constantly getting tangled, and I have to comb it through or just put it up. I’ve kind of only been slicking it back or doing smaller styles, and of course all things heatless. I definitely experience hair fall the most during the wintertime. I can run my fingers through my hair and out comes a couple strands, which is not normal for me in other seasons. Because of the weather, I’m upping hydration all the time. I’m using more oils and leave-ins, my favorite being the <a href="https://www.pacificabeauty.com/products/coco-bond-damage-care-leave-in-mask">Coco Bond Leave-In Mask</a> and <a href="https://www.pacificabeauty.com/products/coco-bond-damage-care-hair-oil">Coco Bond Oil</a>. I’ve also been trying our new <a href="https://www.pacificabeauty.com/products/11-in-1-magical-leave-in">11-in-1 Magical Leave-In Treatment</a> which immediately hydrates. If I’m noticing really obvious dryness, I apply hydrating to the roots where it really stems from, instead of just on the ends. Making sure my scalp is really hydrated is the main thing. I could put as many treatments in my hair as I want, but if it’s not doing anything up here in my scalp, it’s not going to make a big difference.</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>What does healthy, happy hair look like to you?</strong></h2>
    <p>100% from the scalp. Scalp care for me was the biggest shift. Growing up, I’d over-heat and over-style and I didn’t have a selfcare routine at all, really. I would damage my hair until it was at its breaking point, then I would have to chop it all off. I didn’t pay attention to what my hair truly needed. I had to start thinking deeper about how to treat the root of my hair, my scalp, instead of smothering and over-styling it with all these secondary products.</p>
    <p>I didn’t realize how clogged my scalp was until I started exfoliating and finding the right products that targeted my concerns. My hair didn’t start to grow until I incorporated scalp care, especially with the <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager">Clarifying Scalp Massager</a> or just anything <a href="https://www.pacificabeauty.com/collections/rosemary-purify">Rosemary Purify</a>. You can really feel that tingling sensation. There’s something about the invigorating effect, it just wakes up your scalp. After that, I feel like I’m in a normal flow again and that my scalp can breathe.</p>
    
    </div>

   <!-- image section - no restriction on width -->
    <div style="padding-top: 30px;" class="row center-xs">
        <div class="col-xs-12 col-lg-8"><img alt="Helena De Lang" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-IMG-ROSEMARY-HELENA-3.png?v=1715631283"></div>
    </div>
    
    <p>&nbsp;</p>
    
<!-- section - restricts width  -->
<div class="article__section-container">
    <h2><strong>At Pacifica we love the phrase scalp care is skincare. Could you tell me a little about how you live by this in your am + pm routines?</strong></h2>
    <p>I feel like scalp care is an underrated gateway into hair care. Working at Pacifica, I’m always trying different products for content, and I didn’t even know much about scalp care until I discovered <a href="https://www.pacificabeauty.com/collections/purify">Scalp Love.</a> This is coming from someone who loves all things beauty, but with scalp care, I would have never known until I tried it. I first started with the <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/scalp-love-rosemary-mint-serum">Scalp Love Rosemary Mint Scalp Serum</a> and the <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager">Clarifying Scalp Massager</a> before I started using the entire line. Once I saw the massager and the serum go hand in hand, it was so self-explanatory and it’s such an easy step in my hair care routine.</p>
    <p>I think finding a routine a hair care routine that works best for you according to your needs is probably the best gift to your hair. Because 1) you’re finding how far your hair is willing to go and 2) you’re just maintaining its health. And hair health is beautiful! Don’t be afraid to try what works for you, even if it’s out of the box.</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>Do you have a simplified routine for when time is tight?</strong></h2>
    <p>I can vouch for <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/scalp-love-rosemary-mint-serum">Scalp Love Rosemary Mint Serum</a> being great to use on a daily routine for healthy hair and I incorporate it in both treatment routines and my dry styles. It’s really a 2-1 that both hydrates and styles. I love that it’s clear, and my scalp just absorbs it like a leave-in. The <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager">Clarifying Scalp Massager</a> will really lift my hair and give it volume, and then the serum sleeks it back like a gel. It’s so nice for hair types like mine because I feel like my hair absorb a lot of it without feeling heavy, oily, and uneven. When I’m doing a slicked back style, it’s the only product that I want to use.</p>
    <p>Other than styling, my more regular treatment routine starts with a gentle brush through. Then in the shower I use my&nbsp;<a href="https://www.pacificabeauty.com/collections/coco-peptide-haircare/products/coco-peptide-damage-care-shampoo">Coco Peptide Shampoo</a> and <a href="https://www.pacificabeauty.com/collections/coco-peptide-haircare/products/coco-peptide-damage-care-conditioner">Conditioner</a> which really bring my hair back to life. Then, I always use the <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager">Clarifying Scalp Massager,</a> taking my time and applying gentle pressure. Once I know everything is exfoliated, I rinse. After the shower, I’ll put on some of the <a data-encoded-attr-charset="dXRmLTg=" data-encoded-tag-value="" data-encoded-tag-name="meta"></a><a href="https://www.pacificabeauty.com/products/coco-bond-damage-care-leave-in-mask" data-mce-fragment="1" data-sanitized-data-mce-fragment="1" data-mce-href="https://www.pacificabeauty.com/products/coco-bond-damage-care-leave-in-mask" data-sanitized-data-mce-href="https://www.pacificabeauty.com/products/coco-bond-damage-care-leave-in-mask">Coco Bond Damage Care Leave-in Mask</a> throughout the bottom of my hair and then massage in the scalp serum <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/scalp-love-rosemary-mint-serum">Scalp Love Rosemary Mint Serum</a> with my fingertips, and style for the day or air dry before bed. This routine is definitely more incorporated into my week and I’ll do this pretty regularly.</p>
    
    </div>
    
    <!-- image section - no restriction on width -->
    <!--
    <div style="padding-top: 30px;" class="row center-xs">
        <div class="col-xs-12"><img alt="Helena De Lang" src="https://cdn.shopify.com/s/files/1/1515/0462/files/Blog-Temp-IMG1-Wave.jpg?v=1714780043"></div>
    </div>
    -->
    
    <div style="padding-top: 30px;" class="row center-xs">
        <div class="col-xs-12 col-lg-8"><img alt="Helena De Lang" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-IMG-ROSEMARY-HELENA-1.png?v=1715631283"></div>
    </div>
    
    <p>&nbsp;</p>
    
    <!-- section - restricts width  -->
    <div class="article__section-container">
    
        <h2><strong>Do you have a more deluxe routine for when your scalp + hair need a little extra love?</strong></h2>
    <p>Realistically, I’ll do this once a week and it’s always on the weekend when I have the time.</p>
    <ol>
    <li>I’ll do the <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager">massager</a>&nbsp;+&nbsp;<a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/scalp-love-rosemary-mint-serum">serum</a> combo before I shower</li>
    <li>Then, sometimes I swap my shampoo and condition for the <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/hydrating-scalp-smoothie">Hydrating Scalp Smoothing</a>. I keep it in my shower and I use it when my scalp is really dry. I almost use it as a shampoo conditioner hybrid because it feels like I’m treating and nourishing it at the same time. I’ll use a generous amount, and apply it all throughout my scalp, taking my time while massaging with my massage tool. This treatments sits the longest in the shower, about 7 minutes. I can run my fingers through and it gives me that hydrated silky slip.</li>
    <li>While my hair is still wet after the shower, I’ll use <a href="https://www.pacificabeauty.com/products/coco-bond-damage-care-hair-oil">Coco Bond Oil </a>all throughout my scalp and <a href="https://www.pacificabeauty.com/products/coco-bond-damage-care-leave-in-mask">Coco Bond Leave-in Mask</a> on my tips to seal in hydration pre-drying so that the products penetrate deeper.</li>
    </ol>
    
    <p>&nbsp;</p>
    
    <h2><strong>Your hair is thick and full. Do you have a special hack <br class="hidden-phone">for thicker hair?</strong></h2>
    <p>I think product absorption is really important. Having thicker hair, I like to know that my products are really working deep enough. Just by stimulating my scalp with the massager tool can really help the hair product sit properly and seal-in hydration. For treatments, I try to always apply products on damp hair because my strands act like sponges while airdrying. It helps to really add that extra push in hydration absorption.</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>How do you make your hair + scalp-care routines an enjoyable, self-love experience?</strong></h2>
    <p>Well I love selfcare, especially in the comfort of my home because it’s easy and I’m a cancer! Even if I’m just combing through my hair, any moment where I can take my time is relaxing to me. This is usually at night when I’m unwinding. I like to let my skincare sit as I work on my hair, knowing I’m taking intentional care of myself. A quick leave-in and scalp massage, even that is a part of selfcare. They’re so easy and simple and I feel so good afterwards. When I have a full day for selfcare, usually on a weekend, there really isn’t a time limit. The longer the better. It’s kind of the one time I get to check in with myself. I love being surrounded by scent, so I’ll light a candle and just get in my zone. I’ll spritz one of our Moon Moods to get the juices flowing and set the ambience, <a href="https://www.pacificabeauty.com/products/silver-moon-spray-perfume">Silver Moon</a> is the one I’ve been spraying the most.</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>Why do you chose Pacifica for your scalp and hair products?</strong></h2>
    
    <p>I count on these products because I know they’re trustworthy, easy to use, and interchangeable in my routine. I’ve tried other brands and some that are more expensive or trending, but Pacifica does something for me that no other brand does. I can rely on them to restore my hair and make it look alive, and for the cost, it’s insane. Every hair type is different. Sometimes our hair has way better days than others. Sometimes I use less, more, or a different hair product depending, but always using Pacifica is the most important part for me. I love the brand, and how I feel while I wear them drives me to use them everyday.</p>
    
    <p>&nbsp;</p>
    
    <h2><strong>Finally, what do <a href="https://www.pacificabeauty.com/collections/rosemary-purify">Rosemary Purify + Scalp Love</a> smell like to you? How does their scent make you feel?</strong></h2>
    <p>They make me feel refreshed, clean, like I found purpose in my hair again, knowing the journey it’s been through, that I know what works for it, and that I now know how to take care of it. Now that I’ve built this healthy routine for my hair, I want to stick with it. It makes me feel this momentus uplilfting feeling. Just refreshed and brought back to life! I mean it really does. Anything with herbal smells, rosemary, just feels so reviving. To me, it’s a product that everyone should have, like everyone. There’s really nothing to lose, only good things to gain.</p>
    
    </div>
    
    <!-- image section - no restriction on width -->
    <!--
    <div style="padding-top: 30px;" class="row center-xs">
        <div class="col-xs-12"><img alt="Helena De Lang" src="https://cdn.shopify.com/s/files/1/1515/0462/files/compassionista_blog_waves_rosemary_3.png?v=1715047187"></div>
    </div>
    -->
    
    <p>&nbsp;</p>
    
    <div style="padding-top: 30px;" class="row center-xs">
        <div class="col-xs-12 col-lg-10"><img alt="Helena De Lang" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-IMG-ROSEMARY-HELENA-2.png?v=1715631283"></div>
    </div>
    


<!------------------------>
<!-- ROSEMARY - ASH -->
<!------------------------>

<!-- HERO IMAGE  -->
<!-- <div class="article__hero-image"><img alt="" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-ROSEMARY-HEADER-ASH.jpg?v=1715188783"></div> -->

<!-- section - restricts width  -->
<div class="article__section-container">

<h2 class="article__first-paragraph drop-cap"><strong>Healthy hair starts at the root.</strong> And when your hair is dry, brittle, and isn’t falling the way you feel that it should, it usually means your scalp is to blame. We take so much care to make sure our face is glowing with multi-step routines, but we often leave the skin of our scalp by the wayside.</h2>
<p></p>
<p>Take a closer look at your scalp. Do you see dry patches, flakiness, or redness? Does it feel tight, itchy, or just straight-up uncomfortable? Although easy to ignore, these are signs pointing to scalp irritation and an unhappy scalp environment.</p>

<p>From climate to stress to certain skin conditions, there can be many layers that affect scalp and overall hair health. But thankfully for us, there are certain practices and products we can incorporate into our routines that help stimulate, detox, and hydrate our scalps in order to start achieving the hair goals of our dreams.</p>

<p>We asked professional makeup artist and beauty expert (who just so happens to be a scalp care fanatic with gorgeous hair) <strong>Ash Meredith</strong> to walk us through what scalp care means to her and how she lives by it in her day to day.</p>

</div>


<!-- image section - no restriction on width -->
<div class="row center-xs article__author-image">
    <div class="col-xs-12 col-lg-10"><img src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-CONTRIBUTOR-ASH.jpg?v=1715188452" alt="Glow Baby"></div>
    <p style="line-height: normal; padding-top: 20px;"><em>Ash Meredith has worked in the beauty industry for 12 years as a professional makeup artist and content creator. &nbsp;</em>&nbsp;</p>
</div>

<!-- section - restricts width  -->
<div class="article__section-container">

<h2><strong>How would you describe your hair type + texture?</strong></h2>
<p>Fine, and a lot of it! I’m on the drier, more processed side being a fake blondey. I only wash my hair once or twice a week, and I would definitely say if it gets oily it’s due to working out, lifestyle, or environment things more than actually producing too much oil. My hair tangles easily, and I always watch for split ends. If I'm not taking care of it, it’ll feel fragile.</p>
<p>&nbsp;</p>

<h2><strong>What are your personal hair goals?</strong></h2>
<p>I’m kind of a crazy person because I just want mermaid hair! I can’t stop myself. Ill often get tempted by a shorter, smoother style, but no! I really just want wavy mermaid hair!</p>
<p>To me, mermaid hair is effortless. I love the idea of texture, that like easy beachiness. I tend to steer away from that over-styled, over-super sleek look, and I’m more about embracing what my hair naturally does. For me that’s more on the texture side. I’ve never had super smooth or soft hair. I used to try to fight against my natural texture for so long with blow outs, pin straight down-to-the-ends style, straightening until completely smooth. But now I just love to let my hair be unruly by air drying and allowing it do what it wants and naturally does. If you’re always fighting against your hair, you can cause real damage.</p>
<p>&nbsp;</p>

<h2><strong>Do you notice your hair change or grow differently with the seasons?</strong></h2>
<p>Most people say winter, but I live in Texas so it doesn’t snow here or get very cold, and the seasonal shifts are mild. I notice more changes to my hair in the summer because I’m in the pool a lot, and my hair will need way more TLC and hydration. I think stress and environment play a big, big part in scalp health. When I notice drastic differences like a flaky, red, dry, or itchy scalp, it’s usually the fault of my environment, stress, or hormones. I think it’s important to consider this first, and then go from there in choosing your products.</p>
<p>&nbsp;</p>

<h2><strong>What does healthy, happy hair look like to you?</strong></h2>
<p>For me, my healthiest hair is when my scalp is healthy. I’m in the beauty industry and so styles are so fun, but there’s just something different about hair that’s healthy. I’ll have those moments for myself in between styles to let my hair just be free. Embrace what your hair wants to naturally do, give it a break, and let your scalp breath. So, when you do express your styles, it looks really good.</p>
<p>At Pacifica we love the phrase scalp care is skincare. Could you tell me a little about how you live by this in your am +/or pm routines?</p>
<p>I treat my scalp 1 to 2 times a week. I’m religious about it, I have been for years. It has made the biggest difference in my hair and scalp health hands down compared to before. I notice that my hair is just so much healthier, I feel like I have less hair fall, and my hair is way more manageable. &nbsp;</p>
<p>The easiest way I do this is scalp stimulation. I love massaging my scalp at night before bed. Even if it’s not a treatment night, I love using our <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager" data-mce-href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager">Clarifying Scalp Massager</a> to massage my scalp for 3-5 minutes. It’s honestly such a nice little moment. I don’t do it for a long time because you don’t want to cause scalp irritation, so it should be a super gentle massage. Our massage tool is perfect for that because the bristles have a bend to them, they’re not stiff. I’ve used other kinds of massagers that look the same but they’re not, the bristles are hard and not forgiving at all. Ours have that little bit of movement and it really helps from overapplying pressure. I’ll do this most nights, 4 to 5 times a week. It feels stimulating, and I notice that overtime my hair has much more volume at the roots and sits up a little higher. And it’s really relaxing before bed. I’ll keep it on my bedside vanity and love to do it with a face mask on. </p>
<p>&nbsp;</p>

<h2><strong>Do you have a simplified routine for when time is tight?</strong></h2>
<p>Yes, and if I’m being honest, this is the one I’ll do usually 2 to 3 times a week. I notice that my healthiest hair growth is when I do these consistent easy routines instead of a crazy multi-product treatment that I do only once (because I’m a mom and that takes way too long). &nbsp;</p>
<p>I’ll section out my hair and add about 3-5 pipettes of <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/scalp-love-rosemary-mint-serum">Scalp Love Rosemary Mint Serum.</a> Then I‘ll massage it in with my <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager" data-mce-href="https://www.pacificabeauty.com/collections/rosemary-purify/products/clarifying-scalp-massager">Clarifying Scalp Massager</a> for like 5 minutes. I’ll typically leave it in for 6-8 hrs minimum, and I can still go about my life because the serum doesn’t leave my hair greasy. If I apply it during the day, I’ll style it in a braid or a slicked back bun and my hair just soaks it up. &nbsp;</p>
<p>Do you have a more deluxe routine for when your scalp + hair need a little extra love? I always do this on a really chill day, usually a Sunday, where I can spare a couple hours to myself and just wind down and get ready for the week.</p>

<ol>
<li>I’ll take <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/scalp-love-rosemary-mint-serum" data-mce-href="https://www.pacificabeauty.com/collections/rosemary-purify/products/scalp-love-rosemary-mint-serum">Scalp Love Rosemary Mint Serum</a> and just put it all over, sectioning my hair and really focusing on areas of my scalp that need more love.</li>
<li>Then I’ll put the <a href="https://www.pacificabeauty.com/products/coco-bond-damage-care-leave-in-mask" data-mce-href="https://www.pacificabeauty.com/products/coco-bond-damage-care-leave-in-mask">Coco Bond Damage Care Leave-In Mask</a> all throughout the bottom of my hair, put it up or braid it in, and leave it in for as long as I want to, usually 4-6hrs.</li>
<li>After that I’ll swap out my shampoo with the <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/rosemary-apple-cider-scalp-detox-tonic" data-mce-href="https://www.pacificabeauty.com/collections/rosemary-purify/products/rosemary-apple-cider-scalp-detox-tonic">Rosemary Apple Cider Vinegar Scalp Detox Tonic</a> and section my hair with the nozzle. I don’t think a lot of people realize but this tonic is such a good cleanser and really suds up with water. It’s also so great for in between washes for a deep detox without that stripped feeling.</li>
<li>After I’ve cleansed and toned, I apply the <a href="https://www.pacificabeauty.com/collections/rosemary-purify/products/hydrating-scalp-smoothie" data-mce-href="https://www.pacificabeauty.com/collections/rosemary-purify/products/hydrating-scalp-smoothie">Hydrating Scalp Smoothie</a>, focusing on my scalp from my ears up, pulling it through all the way to my ends to really condition them.</li>
<li>I’ll let that sit in the shower for like 5-10 mins while I make sure to exfoliate with <a href="https://www.pacificabeauty.com/products/island-vanilla-body-scrub" data-mce-href="https://www.pacificabeauty.com/products/island-vanilla-body-scrub">Island Vanilla Body Scrub</a>.</li>
<li>Then I’ll just let my hair air dry as usual, and I won’t really use any other products that day other than the <a href="https://www.pacificabeauty.com/products/coconut-milk-detangle-elixir" data-mce-href="https://www.pacificabeauty.com/products/coconut-milk-detangle-elixir">Coconut Milk Detangler Elixir</a> if I have left over knots. &nbsp;</li>
</ol>

</div>

<!-- image section - no restriction on width -->
<div class="row center-xs article__author-image">
    <div class="col-xs-12 col-lg-10"><img src="https://cdn.shopify.com/s/files/1/1515/0462/files/Blog-Rosemary-Products-2_1024x1024.jpg?v=1710268865" alt="Glow Baby"></div>
</div>


<!-- section - restricts width  -->
<div class="article__section-container">

<h2><strong>How do you make your hair + scalp-care routines an enjoyable, self-love experience?</strong></h2>
<p>I would say the biggest thing is, when you really map it out and see what a small portion of your day a routine takes, it’s so worth it. But I also have to make sure that I’m doing it in a way that’s intentional, not just rushing through the steps. Because I have kids, I can’t apply my scalp serum while I’m making them a snack, and I’m not doing my routine right now during our interview. I’m purposefully shutting myself in the bathroom and lighting my candles, or keeping my scalp massage brush on my nightstand as a reminder to take that moment, no excuses. I have to be intentional and realize that I am important enough to take that time for selfcare. At the very least, I owe myself (and my scalp) 4-6 minutes. &nbsp;</p>
<p>Having a good scent in the room is a game changer. I love warm, sweet, and woody combos for that whole body spa relaxation. I’ll diffuse essential oils or use <a href="https://www.pacificabeauty.com/products/silver-moon-body-lotion" data-mce-href="https://www.pacificabeauty.com/products/silver-moon-body-lotion">Silver Moon Body Lotion</a>&nbsp;to moisturize my body. I also love the <a href="https://www.pacificabeauty.com/products/vegan-collagen-body-oil" data-mce-href="https://www.pacificabeauty.com/products/vegan-collagen-body-oil">Vegan Collagen Body Oil</a>, it smells so clean and fresh. I actually keep it in my pro-kit because all my clients love it and it photographs so well. For my face, I’ll definitely always do the reusable masks with a <a href="https://www.pacificabeauty.com/products/future-youth-gravity-rebound-serum">Future Youth Gravity Rebound Serum</a>, of course. If that’s out of stock, then <a href="https://www.pacificabeauty.com/products/wake-up-beautiful-retinoid-serum">Wake Up Beautiful Retinoid Serum</a> is my second fav. &nbsp;</p>
<p>&nbsp;</p>

<h2><strong>Why do you choose Pacifica for your scalp and hair needs?</strong></h2>
<p>I tell people I was a consumer of Pacifica before I was anything else, content creator, professional makeup artist. It’s about trust really. Once you get in the door with a brand and you’ve used it, gotten great results, and you trust their brand statements, you know okay this actually works for me. I trust Pacifica as a brand because I’ve been using them for over a decade and I’ve seen the results first-hand. If I’m comparing Pacifica with another brand, it isn’t only that it looks cute, its accessible to me, or that I trust the ingredients. Really, they stand out because they’re a brand that cares. Accessible, vegan, cruelty-free, and cares about the environment. It’s such a simple thing we can do these days. When you weigh that out with another brand that is just trending, it’s an easy choice. Especially because Pacifica’s been doing this before it was even trendy. &nbsp;</p>
<p>&nbsp;</p>

<h2><strong>Finally, what do Rosemary Purify + Scalp Love smell like to you? How does their scent make you feel?</strong></h2>
<p>Spa day. It’s the perfect balance of that invigorating mood boost with the mint and yet that relaxing feeling as well. It makes me feel calm and happy.</p>

</div>



<!------------------------>
<!-- VITAMIN A -->
<!------------------------>


<!-- HERO IMAGE  -->
<!--<div class="article__hero-image"><img alt="" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG_HEADER_IMAGE-Vit-A-ALT.png?v=1710382529"></div>-->


<!-- section - restricts width  -->
<div class="article__section-container">

<h2 class="article__first-paragraph drop-cap"><strong>Vitamin A, also known as retinoid, is a hot topic these days. </strong>It’s in almost every skincare product, and for good reason.</h2>
<p>One of the most tested and widely used ingredients in skincare and dermatology, retinoid has proven to be a skin regenerating molecular powerhouse, working as a dynamic antioxidant.</p>
<p>&nbsp;</p>
<h2><strong>Some of the main vitamin A skin benefits are:</strong></h2>

<ol>
<li>defends against enzymes (MMP’s) responsible for collagen degradation</li>
<li>induces collagen production</li>
<li>promotes skin cell turnover and repair, brightening pigmentation</li>
<li>restrains transepidermal water loss</li>
<li>treats acne, unclogs dead skin cells from pores, and acts as an anti-inflammatory <sup>(1, 2, 3, 8 )</sup></li>
</ol>

<p>Simply put, vitamin A has been tested to significantly reduce the unwanted effects of sun damaged and aging skin (hyperpigmentation, fine lines and wrinkles, decreased elasticity and uneven skin texture) as well as prevent acne by repairing, renewing, and regenerating skin on the molecular level. &nbsp;</p>
<p>&nbsp;</p>

</div>


<!-- image section - no restriction on width -->
<div class="row center-xs article__author-image">
    <div class="col-xs-12 col-lg-10"><img src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-VitaminA-WUB-Models1_1024x1024.jpg?v=1710203441" alt=""></div>
</div>

<!-- section - restricts width  -->
<div class="article__section-container">
    <p>&nbsp;</p>
<h2><strong>the vitamin a family tree: what is vitamin A?</strong></h2>
<p>Vitamin A is actually a collective of compounds, classified under the umbrella term retinoid. Retinoid offshoots into four subtypes, each made up of slightly different structures (there is a difference between retinol and retinal after all), each touting their own list of positive, and negative, effects.<sup>(5)</sup></p>
<p>The first rule of vitamin A is that retinoic acid is the only form that skin can effectively absorb for its repair processes to work their magic. So the closer the compound is to retinoic acid, the more readily available it is for skin to use. <sup>(4)</sup></p>
<p>&nbsp;</p>

<h2><strong>retinal vs retinol: what’s the difference?</strong></h2>
<p>You may have heard or are currently using retinal and/or tretinoin, the purest forms of retinoic acid available and considered by some dermatologists to be age-defying holy grails.<sup>(4)</sup></p>
<p>However, known to be harmful for certain skin types, tretinoin is only available by prescription. Extreme irritation, dryness, and UV hypersensitivity are a few common retinal and tretinoin effects that we’d personally like to avoid for healthy, happy skin. <sup>(6)</sup></p>
<p>Retinol on the other hand, is a less active retinoid.&nbsp;Our skin must convert topical retinol in two steps before it can be absorbed, showing less powerful results that take longer to show.<sup>(4)</sup></p>
<p>In short, retinoid compounds at lower levels are less effective, and at higher levels can be irritating, even damaging, to skin.&nbsp; &nbsp;</p>
<p>&nbsp;</p>

<h2><strong>granactive retinoid + wake up beautiful</strong></h2>
<p>Being a chemically derived ingredient, retinoid has appeared on many natural no-lists since the 90’s. Being a forward-thinking brand, we did extensive research and found out most topical retinoids are petroleum derived. This sent us on a path to discover a safe and powerful retinoid sourced from clean derivatives that follow our compassion standards. &nbsp;</p>

</div>

<!-- image section - no restriction on width -->
<div class="row center-xs article__author-image">
    <div class="col-xs-12 col-lg-10"><img src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-VitaminA-WUB-Models2_1024x1024.jpg?v=1710203835" alt="Glow Baby"></div>
</div>

<!-- section - restricts width  -->
<div class="article__section-container">
<h2><strong>Our solution: Granactive Retinoid™ featured in <a href="https://www.pacificabeauty.com/collections/wake-up-beautiful">Wake Up Beautiful&nbsp;</a></strong></h2>
<p>Granactive is a petroleum-free retinoic acid ester, the next generation of retinoid. Think of it as a sister to retinoic acid. While similarly active and bioavailable,&nbsp;retinoic acid esters have proven to come with less skin irritation than other retinoids while showing the same, if not more, effective results.<sup>(7)</sup></p>
<p>The manufacturer of Granactive has done some pretty extraordinary testing: in just 24 hours, an occlusive patch of 0.5% Granactive resulted in&nbsp;significantly lower irritation than 0.5% retinol. And there was a statistically dramatic improvement in aging skin (think fine lines and wrinkles) after applying 0.2% Granactive around the eyes only twice a day for 14 days. Now that’s impressive. &nbsp;</p>
<p>We chose Granactive Retinoid™ to be the star ingredient of our <a href="https://www.pacificabeauty.com/collections/wake-up-beautiful">Wake Up Beautiful Collection</a>, formulating it alongside nourishing bioactives such as melatonin, mushrooms, and quinoa to deliver the age-defying results of vitamin A while restoring skin thickness and elasticity. By promoting skin health and longevity, these potent yet gentle products renew plumpness, firmness, and radiance without causing irritated or dry skin. And they’re petroleum free; most topical retinoids on the market today cannot make that claim. &nbsp;</p>

</div>

<!-- image section - no restriction on width -->
<div class="row center-xs article__author-image">
    <div class="col-xs-12 col-lg-10"><img alt="granactive retinoid, mushrooms, quinoa, melatonin" src="https://cdn.shopify.com/s/files/1/1515/0462/files/BLOG-VitaminA-WUB-Ingredients_1024x1024.jpg?v=1710203220"></div>
</div>

<!-- section - restricts width  -->
<div class="article__section-container">

<p>If you haven’t yet incorporated vitamin A into your skincare routine, have tried it and not liked or seen its effects, or just curious about what other retinoid skincare product options are out there, <a href="https://www.pacificabeauty.com/collections/wake-up-beautiful">Wake Up Beautiful </a>is a gentle and effective place to start, with guaranteed happy, healthy skin and gorgeous results. &nbsp;</p>
<p>&nbsp;</p>

<h2 class="article__sub-title"><strong>Learn more about Wake&nbsp;Up Beautiful</strong></h2>
<p>&nbsp;</p>

<h3>Can I use Wake Up Beautiful every night?</h3>
<p>Yes!&nbsp;You can incorporate Granactive Retinoid into your nightly skincare routine.&nbsp;Because of its unique molecular structure, it is less irritating than other retinoids and better for sensitive skin. If you have very sensitive skin type, we recommend that you start out using it every other day to see how your skin tolerates the ingredient.&nbsp;As retinoids can increase photosensitivity, remember to apply an SPF every morning. &nbsp;</p>
<p>&nbsp;</p>

<h3>Can I use Granactive Retinoid under eyes?</h3>
<p>We have designed <a href="https://www.pacificabeauty.com/collections/wake-up-beautiful/products/wake-up-beautiful-retinoid-eye-cream">Wake Up Beautiful Eye Cream</a> specifically for the fragile and sensitive undereye area.&nbsp;Granactive Retinoid is clinically proven to reduce the appearance of fine lines and wrinkles, but without the skin irritation that can come along with using other forms of traditional retinoids. &nbsp;</p>
<p>&nbsp;</p>

<h3>How long does it take to see results?</h3>
<p>Clinical studies of Granactive showed “dramatic” results after applying it around the eyes twice a day for 14 days.&nbsp;In addition to using Granactive Retinol in our formulas, we power pack plant ingredients to help instantly plump and hydrate your skin.&nbsp;Complementary ingredients like melatonin, mushroom, and quinoa detoxify and nourish to boost the powerful anti-aging vitamin A skin benefits, so consider this a short and long game!&nbsp;&nbsp;</p>
<p>&nbsp;</p>

<h3>Is Wake Up Beautiful pregnancy safe?</h3>
<p>All retinoids are on the pregnancy no-list so&nbsp;if you are pregnant (or nursing), we don’t recommend&nbsp;usage.&nbsp;The same goes for melatonin.&nbsp;We recommend using the <a href="https://www.pacificabeauty.com/collections/wake-up-beautiful/products/wake-up-beautiful-waterless-cleansing-balm">Wake Up Beautiful Collection’s Waterless Cleansing Balm</a>, <a href="https://www.pacificabeauty.com/collections/wake-up-beautiful/products/wake-up-beautiful-dream-jelly-face-wash">Dream Jelly Face Wash</a>, <a href="https://www.pacificabeauty.com/collections/wake-up-beautiful/products/wake-up-beautiful-mask">Super Hydration Sleepover Mask,</a> and <a href="https://www.pacificabeauty.com/collections/wake-up-beautiful/products/wake-up-beautiful-complex-lip-balm">Complex Lip Balm</a> for skin health which do not contain retinoids or melatonin. &nbsp;</p>
<p>For a deeper dive into how other essential nutrients contribute to skin wellness, check out ‘<a href="https://www.pacificabeauty.com/blogs/the-compassionista/essential-vitamins-for-your-skin-5-reasons-why-you-need-vitamin-c">Essential Vitamins For Your Skin: 5 Reasons Why You Need Vitamin C</a>’. &nbsp;</p>
<p>&nbsp;</p>

<p><strong><span style="text-decoration: underline;" data-mce-style="text-decoration: underline;">References </span></strong></p>
<p>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ganceviciene R, Liakou AI, Theodoridis A, Makrantonaki E, Zouboulis CC. “<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3583892/" target="_blank">Skin anti-aging strategies</a>.” Dermatoendocrinol. 2012 Jul 1;4(3):308 19. doi: 10.4161/derm.22804. PMID: 23467476; PMCID: PMC3583892.&nbsp; &nbsp;&nbsp;</p>
<p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; James Varani, Roscoe L. Warner, Mehrnaz Gharaee-Kermani, Sem H. Phan, Sewon Kang, JinHo Chung, ZengQuan Wang, Subhash C. Datta, Gary J. Fisher, John J. Voorhees. “<a href="https://www.sciencedirect.com/science/article/pii/S0022202X15407985%20&amp;nbsp;" target="_blank">Vitamin A Antagonizes Decreased Cell Growth and Elevated Collagen-Degrading Matrix Metalloproteinases and Stimulates Collagen Accumulation in Naturally Aged Human Skin</a>.” Journal of Investigative Dermatology, Volume 114, Issue 3, (2000): 480-486.&nbsp;</p>
<p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Leyden J, Stein-Gold L, Weiss J. “<a href="%20https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5574737/" target="_blank">Why Topical Retinoids Are Mainstay of Therapy for Acne</a>.” Dermatol Ther (Heidelb). 2017 Sep;7(3):293-304. doi: 10.1007/s13555-017-0185-2. Epub 2017 Jun 5. PMID: 28585191; PMCID: PMC5574737.&nbsp; &nbsp;</p>
<p>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Motamedi M, Chehade A, Sanghera R, Grewal P. “<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8750127/%20" target="_blank">A Clinician's Guide to Topical Retinoids</a>”. J Cutan Med Surg. 2022 Jan-Feb;26(1):71-78. doi: 10.1177/12034754211035091. Epub 2021 Jul 22. PMID: 34292058; PMCID: PMC8750127.&nbsp; &nbsp;</p>
<p>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mukherjee S, Date A, Patravale V, Korting HC, Roeder A, Weindl G. “<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2699641/%20&amp;nbsp;" target="_blank">Retinoids in the treatment of skin aging: an overview of clinical efficacy and safety</a>.” Clin Interv Aging. 2006;1(4):327-48. doi: 10.2147/ciia.2006.1.4.327. PMID: 18046911; PMCID: PMC2699641.&nbsp;</p>
<p>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “Retinoids, Topical - American Osteopathic College of Dermatology .” AOCD, www.aocd.org/page/Retinoidstopical. Accessed 16 Jan. 2024. &nbsp;</p>
<p>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “Retinoid Vitamin A Delivery.” Grant Industries, grantinc.com/products/active-series/ret-vitamin-a-delivery/. Accessed 16 Jan. 2024. &nbsp;</p>
<p>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zasada M, Budzisz E. “<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6791161/" target="_blank">Retinoids: active molecules influencing skin structure formation in cosmetic and dermatological treatments.</a>” Postepy Dermatol Alergol. 2019 Aug;36(4):392-397. doi: 10.5114/ada.2019.87443. Epub 2019 Aug 30. PMID: 31616211; PMCID: PMC6791161.&nbsp; &nbsp;</p>


</div>



