


{% capture svg_eye %}
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 210 144" style="enable-background:new 0 0 210 144;" xml:space="preserve">

<title>5</title>
<desc>Created with Sketch.</desc>
<g id="Page-1">
	<g id="Artboard" transform="translate(-1211.000000, -349.000000)">
		<g id="_x35_" transform="translate(1211.000000, 349.000000)">
			<g id="Group-3" transform="translate(33.506762, 0.000000)">
				<g id="Clip-2">
				</g>
				<defs>
					<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="0.1" y="0.1" width="148.5" height="82.1">
						<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
					</filter>
				</defs>
				<mask maskUnits="userSpaceOnUse" x="0.1" y="0.1" width="148.5" height="82.1" id="mask-2_1_">
					<g class="st0">
						<polygon id="path-1_1_" class="st1" points="0.1,0.1 148.6,0.1 148.6,82.2 0.1,82.2 						"/>
					</g>
				</mask>
				<path id="Fill-1" class="st2" d="M105.8,67.8c0.4,0.3,0.7,0.6,1.1,0.9c2-0.5,4-0.8,5.9-1.4c8.1-2.7,15-7.3,20.2-14.1
					c2.9-3.9,3.1-5-1-7.8c-6.3-4.3-12.9-8.2-19.5-12.2c-0.7-0.4-1.7-0.5-2.9-0.8C112.7,45,111.7,56.6,105.8,67.8 M28.6,30.3
					c0.2,0.4,0.5,0.8,0.7,1.2c1.5-0.7,3-1.4,4.5-2.2c15.9-8,32.2-13.8,50.6-12.6c10.1,0.7,19.6,2.6,28.3,7.8
					c4.7,2.8,9.6,5.4,14.4,8.1l0.6-0.9c-6.4-5.6-12.6-11.4-19.2-16.6c-2.7-2.1-6.3-3.7-9.7-4.4C92,9.3,85.1,8.4,78.1,8.1
					c-4.1-0.2-8.6,0.6-12.5,2.1c-7.6,2.9-15.2,6.3-22.4,10.1C38.1,23,33.5,26.9,28.6,30.3 M57.7,73.8C43.9,60.4,44,46,51.7,30.6
					C40,32.1,20,47,13.7,56.1C25.5,68,40.8,71.5,57.7,73.8 M103,52.8c0.1-3.4,0-6.7,0.3-10.1c0.4-5-1.9-8.3-5.9-11
					c-1.9-1.3-3.6-3.1-4.8-5c-1.1-1.7-2.4-2.2-4.2-2.2c-3.8-0.1-7.5-0.1-11.3-0.2c-4.7-0.1-8.5,1-12.4,4.4
					c-6.6,5.6-9.7,12.3-9.9,20.3c-0.3,9.2,2.7,16.8,12,19.6c2.4,0.7,4.6,2.1,6.8,3.5c3.8,2.4,12.9,2.7,16.6,0
					C96.6,67.2,102.1,61.6,103,52.8 M50.6,81.3c-15.3-3.7-29.5-7.8-40.9-18.2c-2.1-1.9-4.6-3.6-7-5.1c-2.3-1.5-3.2-3.4-2.3-6
					c1.4-4.2,3.3-8.2,6.6-11.3c5.3-5,10.7-10,15.9-15.1c8.8-8.6,19.7-13.9,30.7-19c1.7-0.8,3.5-1.4,5.2-2.1C67.6,0.9,76.5-1,86,0.9
					c4.2,0.9,8.4,1.4,12.6,2c8.7,1.2,15.5,6,21.8,11.6c6.1,5.4,12.2,10.9,18.2,16.4c2.4,2.2,4.7,4.5,4.9,8c0.1,1.8,1.1,2.6,2.6,3.3
					c2.5,1.1,2.9,3.2,2.1,5.5c-1,2.9-2,5.7-5.3,7.1c-1.5,0.6-2.8,2-3.9,3.3c-7.9,9.6-18.1,15.2-30.1,18.2c-12.8,3.1-25.7,6-39,5.8
					C63.3,82.1,56.6,81.6,50.6,81.3"/>
			</g>
			<path id="Fill-4" class="st1" d="M142.4,94.1c3.2,1,3.7,3,4.4,5.1c2,6.6,3.9,13.3,6.4,19.7c1.5,3.7,4.2,6.9,6.2,10.4
				c1.2,2,2.6,3.9,3.2,6c0.3,1.2-0.5,3.3-1.5,4c-1,0.7-3.1,0.7-4.2,0.1c-1.4-0.8-2.6-2.3-3.6-3.8c-7.4-10.5-11.2-22.5-14.4-34.7
				c-0.3-1.3-0.4-3.1,0.2-4.1C139.9,95.5,141.5,94.8,142.4,94.1"/>
			<path id="Fill-6" class="st1" d="M103.8,129.1c0.4-9.2,0.8-18.5,1.3-27.7c0.1-1.8,0-3.8,0.6-5.3c0.4-1,1.9-2,2.9-2.1
				c0.7,0,1.8,1.4,2.2,2.5c0.5,1.3,0.5,2.9,0.4,4.4c-0.1,4-0.3,7.9-0.4,11.9c-0.3,5.8-0.4,11.5-0.9,17.3c-0.2,2.6-0.7,5.2-1.5,7.6
				c-0.3,1-1.9,2.2-2.8,2.1c-0.9-0.1-2.2-1.7-2.3-2.9c-0.3-2.6,0-5.2,0-7.8C103.4,129.1,103.6,129.1,103.8,129.1"/>
			<path id="Fill-8" class="st1" d="M71.6,104.3c0.5-3.3,0.9-6.7,1.5-10c0.2-1.2,0.3-2.5,0.9-3.3c0.6-0.8,1.9-1.6,2.7-1.4
				c0.8,0.1,1.8,1.3,2.2,2.2c0.4,1,0.2,2.4,0,3.5c-1.9,9.9-3.9,19.8-5.9,29.7c-1,4.6-2.1,9.2-3.2,13.7c-0.3,1.3-0.8,2.7-1.7,3.5
				c-0.8,0.8-2.4,1.4-3.3,1c-0.8-0.4-1.7-2.1-1.6-3.2c0.1-1.8,0.8-3.6,1.3-5.4c2.6-10.1,5.3-20.1,7.9-30.2
				C72,104.4,71.8,104.3,71.6,104.3"/>
			<path id="Fill-10" class="st1" d="M53.6,82.5c0.5,1.2,1.4,2.5,1.4,3.8c0,1.1-0.9,2.2-1.6,3.2c-5.6,9.5-11.1,18.9-16.8,28.3
				c-1.2,1.9-2.5,3.8-4.2,5.2c-0.8,0.7-3.1,1-3.6,0.5c-0.9-0.9-1.1-2.7-1.1-4.1c0-0.7,0.6-1.6,1.2-2.3c7.8-9.1,12.3-20.2,18.8-30.1
				c0.9-1.4,2.1-2.7,3.3-3.9C51.3,82.7,52.2,82.8,53.6,82.5"/>
			<path id="Fill-12" class="st1" d="M173.3,83.9c5.7,3.8,11.4,6.5,14.7,12.1c2.1,3.6,4.4,7.2,6.6,10.8c1.1,1.8,2.2,3.7,0.4,5.7
				c-1.4,1.6-4.8,1.5-6.8-0.6c-2-2.1-3.8-4.7-5-7.3c-2.2-5-5.4-9-10.5-11.4c-1.3-0.6-2.8-1.4-3.3-2.5c-0.6-1.4-1-3.5-0.3-4.7
				C169.8,84.8,171.9,84.5,173.3,83.9"/>
			<g id="Group-16" transform="translate(0.000000, 61.596263)">
				<g id="Clip-15">
				</g>
				<defs>
					<filter id="Adobe_OpacityMaskFilter_1_" filterUnits="userSpaceOnUse" x="0" y="0.1" width="31.7" height="30.8">
						<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
					</filter>
				</defs>
				<mask maskUnits="userSpaceOnUse" x="0" y="0.1" width="31.7" height="30.8" id="mask-4_1_">
					<g class="st3">
						<polygon id="path-3_1_" class="st1" points="0,0.1 31.7,0.1 31.7,30.9 0,30.9 						"/>
					</g>
				</mask>
				<path id="Fill-14" class="st4" d="M31.6,4.4c-0.5,0.6-1.2,1.5-2,2.3C22.8,13.5,16,20.2,9.1,26.9c-1.5,1.4-3,2.8-4.8,3.7
					c-0.8,0.4-2.6,0.2-3.2-0.4c-0.8-0.8-1.4-2.7-1-3.6c0.8-1.8,2.1-3.6,3.5-4.9c6.8-6.4,13.8-12.8,20.7-19.1c1-0.9,2.1-1.8,3.3-2.3
					C29.9-0.6,32.2,1.6,31.6,4.4"/>
			</g>
			<path id="Fill-17" class="st1" d="M205.9,74.4c-1.8-0.8-3.1-1.3-4.2-2c-3.7-2.2-7.3-4.5-11-6.7c-0.3-0.2-0.6-0.3-0.8-0.6
				c-2-1.6-2.4-3.4-1.2-5c1.4-1.8,3.3-2.4,5.3-1.3c4.3,2.4,8.6,5,12.7,7.6c1.1,0.7,2,1.8,2.5,2.9c0.4,1,0.7,2.7,0.1,3.5
				C208.5,73.8,206.8,74,205.9,74.4"/>
			<path id="Fill-19" class="st1" d="M110,43c-1.3,1-2.5,1.6-3,2.5c-0.7,1.4-1.7,3.4-1.2,4.6c0.5,1.2,2.6,2.2,4.1,2.5
				c1.3,0.2,3.1-0.4,4.3-1.1c2.2-1.4,2.3-3.3,0.3-5C113.2,45.3,111.8,44.3,110,43 M110.4,37.8c1.5,0,3.1,0,4.6,0.1
				c7.8,0.5,11.9,7.4,8.6,14.5c-2.3,5-6.1,8-11.6,8.4c-5.2,0.4-9.5-1.5-12.5-5.9c-2.5-3.7-2.7-7.6-0.3-11.2c1.4-2.1,3.2-4.2,5.3-5.6
				c1.5-1,3.7-0.9,5.7-1.3C110.3,37.1,110.3,37.4,110.4,37.8"/>
		</g>
	</g>
</g>
</svg>

{% endcapture %}



{% capture svg_star %}

 <svg width="178px" height="182px" viewBox="0 0 178 182" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-715.000000, -326.000000)" fill="#333333">
            <path d="M803.560779,326.006093 C801.489469,326.238278 799.935786,328.047735 799.982989,330.169354 L799.982989,342.467292 C799.967301,343.564186 800.38315,344.62107 801.13639,345.405679 C801.897484,346.182314 802.925325,346.622662 804.00031,346.622662 C805.075294,346.622662 806.103155,346.182314 806.864229,345.405679 C807.617469,344.62105 808.033318,343.564186 808.01763,342.467292 L808.01763,330.169354 C808.033318,329.056452 807.609635,327.991595 806.840688,327.206986 C806.07176,326.422357 805.028211,325.990003 803.9376,326.006011 C803.81206,325.997996 803.68652,325.997996 803.56098,326.006011 L803.560779,326.006093 Z M747.945225,344.42643 C746.381861,344.556096 745.020928,345.552906 744.437811,347.003568 C743.846482,348.45421 744.121907,350.115554 745.158745,351.29873 L763.82182,374.119955 C764.526538,374.978988 765.54718,375.521967 766.648862,375.63543 C767.75861,375.740781 768.860229,375.408504 769.718938,374.703452 C770.577646,373.998401 771.120286,372.977276 771.233695,371.875073 C771.338996,370.7648 771.006876,369.662659 770.302159,368.803543 L751.639083,345.982319 C750.837152,344.977396 749.614015,344.402011 748.33406,344.426326 C748.204455,344.418214 748.07485,344.418214 747.945246,344.426326 L747.945225,344.42643 Z M859.153405,344.426222 C858.051476,344.555889 857.046828,345.115073 856.366069,345.98222 L837.698091,368.803517 C836.993188,369.662552 836.660981,370.764717 836.76631,371.875056 C836.879749,372.977221 837.422614,373.998267 838.281465,374.703445 C839.140317,375.408623 840.242246,375.740776 841.352348,375.635425 C842.454277,375.521962 843.475104,374.978981 844.180131,374.119946 L862.848109,351.298648 C863.941928,350.050614 864.176896,348.267773 863.455793,346.776505 C862.74278,345.277228 861.203398,344.353298 859.542363,344.426326 C859.412724,344.418214 859.283085,344.418214 859.153447,344.426326 L859.153405,344.426222 Z M803.476747,369.463803 C802.153428,369.552636 800.951035,370.271346 800.249115,371.401931 L784.627376,396.790894 L755.449582,402.605279 C753.964872,402.920217 752.770596,404.01849 752.334943,405.480118 C751.907284,406.933704 752.310733,408.508353 753.383918,409.582541 L774.685257,430.900918 L770.812099,459.907721 C770.634574,461.36939 771.239757,462.81481 772.409782,463.703144 C773.579806,464.599521 775.137105,464.801417 776.492814,464.236125 L803.799097,452.542854 L831.105381,464.236125 C832.460986,464.801417 834.018409,464.599521 835.188413,463.703144 C836.358437,462.814831 836.96362,461.369328 836.786096,459.907721 L832.912937,430.900918 L854.214276,409.582541 C855.287461,408.508497 855.69091,406.933869 855.263251,405.480118 C854.827516,404.018449 853.633302,402.920135 852.148612,402.605279 L822.970818,396.790894 L807.349079,371.401931 C806.526028,370.077554 805.025184,369.326532 803.475921,369.463803 L803.476747,369.463803 Z M803.798377,381.661166 L816.725784,402.743913 C817.328749,403.719055 818.309562,404.395997 819.427055,404.613591 L842.774266,409.319919 L825.601799,426.533954 C824.709423,427.436557 824.283332,428.693806 824.444112,429.950849 L827.595492,453.740374 L805.406996,444.198569 C804.377941,443.76338 803.220253,443.76338 802.191198,444.198569 L780.002703,453.740374 L783.154082,429.950849 C783.314862,428.693641 782.888771,427.436351 781.996395,426.533954 L764.823928,409.319919 L788.17114,404.613591 C789.288632,404.395997 790.269384,403.719055 790.87241,402.743913 L803.798377,381.661166 Z M888.641016,394.283584 C888.449079,394.291645 888.257141,394.315808 888.065203,394.34801 C887.96124,394.364111 887.849271,394.388274 887.745307,394.412436 L875.461293,396.474057 C874.357656,396.61901 873.358065,397.214963 872.702099,398.124962 C872.038312,399.026921 871.77441,400.162421 871.966328,401.273676 C872.158265,402.376973 872.790053,403.359418 873.717762,403.979554 C874.637466,404.607709 875.781067,404.833189 876.868816,404.591608 L889.15283,402.529987 C891.416159,402.385034 893.135512,400.428164 892.991584,398.149042 C892.847657,395.86992 890.904326,394.13857 888.640996,394.283502 L888.641016,394.283584 Z M718.6342,394.299632 C716.586214,394.526188 715.032324,396.265724 715.000499,398.353109 C714.968624,400.440536 716.466771,402.228664 718.506903,402.519885 L730.747082,404.591155 C731.830848,404.833888 732.970307,404.607332 733.886892,403.976236 C734.811291,403.35324 735.440824,402.366155 735.632077,401.257694 C735.82333,400.141154 735.560349,399.000423 734.898931,398.094242 C734.245489,397.179962 733.249383,396.58124 732.149582,396.435609 L719.909403,394.364339 C719.487055,394.275336 719.056731,394.251061 718.634384,394.299611 L718.6342,394.299632 Z M855.566196,435.521373 C855.413625,435.537387 855.269091,435.553422 855.116519,435.585449 C853.301755,435.857767 851.888503,437.29147 851.647579,439.109731 C851.414713,440.919872 852.410417,442.673996 854.088685,443.402924 L880.81237,455.705513 C881.808095,456.202107 882.956432,456.282197 884.008317,455.913755 C885.060244,455.55333 885.919451,454.776401 886.385081,453.775155 C886.858851,452.765953 886.898998,451.612565 886.497505,450.579353 C886.10403,449.538123 885.301045,448.713132 884.281289,448.272617 L857.557604,435.970028 C856.9393,435.657666 856.256757,435.505483 855.566176,435.521496 L855.566196,435.521373 Z M751.992217,435.529008 C751.477089,435.561145 750.978054,435.697668 750.511225,435.914522 L723.72458,448.250962 C722.702381,448.692688 721.897484,449.51995 721.503143,450.564044 C721.100703,451.60012 721.140944,452.756641 721.615832,453.76864 C722.082662,454.772579 722.943894,455.551646 723.998195,455.913124 C725.0526,456.28258 726.20356,456.20227 727.201672,455.70431 L753.988316,443.36787 C755.791264,442.540629 756.748989,440.540769 756.258175,438.621219 C755.767197,436.70169 753.972244,435.400586 751.992299,435.52909 L751.992217,435.529008 Z M803.560779,470.565018 C801.489469,470.799845 799.935786,472.629891 799.982989,474.775651 L799.982989,503.797347 C799.967301,504.906723 800.38315,505.975633 801.13639,506.769169 C801.897484,507.554641 802.925325,508 804.00031,508 C805.075294,508 806.103155,507.554641 806.864229,506.769169 C807.617469,505.975612 808.033318,504.906723 808.01763,503.797347 L808.01763,474.775651 C808.033318,473.650086 807.609635,472.573112 806.840688,471.779576 C806.07176,470.986019 805.028211,470.548745 803.9376,470.564935 C803.81206,470.55683 803.68652,470.55683 803.56098,470.564935 L803.560779,470.565018 Z M762.20406,474.375575 C760.838267,474.47313 759.609081,475.253678 758.92604,476.45698 L752.755842,486.864003 C751.582866,488.839714 752.217554,491.400841 754.169845,492.587866 C756.122137,493.774891 758.652906,493.132611 759.82586,491.1569 L765.996059,480.749877 C766.823564,479.416487 766.847669,477.725388 766.044268,476.375597 C765.240847,475.034069 763.754508,474.253605 762.203937,474.375492 L762.20406,474.375575 Z M844.878037,474.369797 C843.415536,474.443002 842.105633,475.296952 841.430686,476.606329 C840.755698,477.915747 840.819963,479.493499 841.599433,480.746057 L847.770845,491.156277 C848.944051,493.132595 851.475338,493.775073 853.427973,492.587683 C855.380608,491.400293 856.015441,488.838338 854.842255,486.862062 L848.670843,476.451841 C847.899417,475.0855 846.428975,474.280269 844.877893,474.369797 L844.878037,474.369797 Z" id="3"></path>
        </g>
    </g>
</svg>
{% endcapture %}

{% capture svg_diamond %}
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 137 159" style="enable-background:new 0 0 137 159;" xml:space="preserve">
<title>9</title>
<desc>Created with Sketch.</desc>
<g id="Page-1">
	<g id="Artboard" transform="translate(-793.000000, -573.000000)">
		<g id="_x39_" transform="translate(793.000000, 573.000000)">
			<g id="Clip-2">
			</g>
			<defs>
				<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="0.2" y="0" width="136.2" height="158.1">
					<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
				</filter>
			</defs>
			<mask maskUnits="userSpaceOnUse" x="0.2" y="0" width="136.2" height="158.1" id="mask-2_1_">
				<g class="st0">
					<polygon id="path-1_1_" class="st1" points="0.2,0 136.4,0 136.4,158.1 0.2,158.1 					"/>
				</g>
			</mask>
			<path id="Fill-1" class="st2" d="M67.2,122.8c1.1-3.9,2-8.2,3.5-12.3c1.5-4.2,3.2-8.4,5.5-12.2c2.5-3.9,5.5-7.7,9.1-10.8
				c3.3-2.9,7.7-4.7,11.4-6.9c-6.6-5.1-13-9.7-19.1-14.8c-6.5-5.5-8-13.3-10.1-22.1c-2.8,4.6-4.7,8-6.9,11.3
				c-2.1,3.1-4.5,6.2-6.9,9.1c-2.6,3.1-5.2,6.2-8.1,8.9c-2.8,2.7-6.1,5-9.5,7.8c2.2,1.3,3.8,2.2,5.3,3.3c6.8,5.2,13,11,16.6,18.6
				C61,109.6,64.2,116.3,67.2,122.8 M79.5,7.7c-0.7,3.6-1.1,7.1-2,10.6c-2.6,10.2-2.1,20.4,0,30.6C78.8,55,82.6,60,87.7,63.9
				c4,3.1,8.3,5.7,12.7,8.2c6.5,3.7,13.4,6,21.3,5.3c2.9-0.2,5.8-0.1,8.6,0c3.9,0.2,6.3,1.6,6,3.6c-0.4,3-3,3.4-5.5,3.7
				c-5.7,0.5-11.4,1.1-17.2,1.3c-7.3,0.2-13.8,2.8-20.3,5.5c-2.4,1-4.5,3.3-6.1,5.5c-5.9,7.7-9.3,16.3-10.8,25.6
				c-1.6,10-2.7,20-4.1,30.1c-0.1,1,0,2.4-0.7,3.1c-1,1.1-2.6,2.4-3.9,2.4c-1.3,0-3.1-1.2-3.9-2.4c-0.8-1.1-0.6-2.7-0.7-4.1
				c-1-13.7-3.9-27-10.6-39.4c-1-1.9-1.8-3.9-2.7-5.9c-4.3-9.9-12.7-15.7-23-19.6c-0.8-0.3-1.9-0.3-2.8-0.3
				C18.1,86.2,12,86.1,5.9,86c-0.8,0-1.5-0.1-2.3-0.3c-2-0.5-3.5-1.6-3.4-3.7c0.1-2.1,1.5-3.2,3.6-3.5c5.3-0.8,10.7-1.3,15.9-2.3
				c4.9-0.9,9.8-2,14.4-3.7c2.5-0.9,4.9-2.9,6.7-4.8c12.1-13.3,21.7-28,26.8-44.8C69.2,17.6,69.2,12,70,6.5c0.1-1.1,0.2-2.1,0.5-3.2
				C71,1.5,72.2,0.2,74.4,0c2.3-0.2,3.6,1.2,4.2,3C79.1,4.5,79.2,6.1,79.5,7.7"/>
		</g>
	</g>
</g>
</svg>
{% endcapture %}


{% capture svg_waves %}
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 264 88" style="enable-background:new 0 0 264 88;" xml:space="preserve">

<title>7</title>
<desc>Created with Sketch.</desc>
<g id="Page-1">
	<g id="Artboard" transform="translate(-295.000000, -606.000000)">
		<g id="_x37_" transform="translate(295.000000, 606.000000)">
			<path id="Fill-1" class="st0" d="M194.1,55.4c-15.6-0.8-30.8-4.6-44.9-11.2c-13.7-6.3-27.6-12.4-42.8-14.2
				c-14.8-1.8-29.4-2.4-43.8,3.8c-10,3.9-20.6,5.9-31.4,5.9c-3.2-0.1-6.4-0.8-9.3-2.1c-1-1.1-1.7-2.4-2-3.8c1.1-0.5,2.4-0.6,3.6-0.6
				c7,2.8,14.1,1.1,21,0.1c6.4-1.2,12.7-2.9,18.9-5.2c11-3.6,22.5-4.9,34-4c12.3,1.1,24.4,3.7,36,7.8c8.7,3,16.8,7.6,25.3,11
				c12.1,4.7,24.6,8.1,37.8,7.2v0c13.6-0.6,26.8-4.6,38.4-11.6c6.9-4.4,13.7-8.7,20.5-13.2c1.6-1.1,2.7-3,4.3-4.1v0
				c1.2-0.4,2.6-0.5,3.8-0.3c0.3,1.2,0.3,2.5-0.1,3.7c-3,3-6.3,5.7-9.8,8.1c-12.8,8-25.3,16.6-40.5,19.5
				C205.9,53.6,198.7,54.6,194.1,55.4L194.1,55.4z"/>
			<path id="Fill-2" class="st0" d="M247.6,70.8c1.4-0.2,2.9-0.5,4.3-0.9c2.3-1.1,4.4-2.3,6.5-3.8c-5,0.4-9.9,0.5-14.9,0.2
				c-8-0.6-16.1-0.6-24.1,0.1c-15.6,2.1-30.8,6.2-45.3,12.2c-12.3,5-26,5.8-38.8,2.2c-13.4-3.6-26.3-9.1-39.4-13.6
				c-5-1.7-9.9-4.4-15.4-3.1h0c-1.2,0.7-2.2,1.6-3,2.6c1,0.8,2.2,1.5,3.4,2c2.8,0.3,5.5,0.8,8.3,1.4c11.7,4.1,23.3,8.6,35,12.6
				c9.2,3.3,18.9,5,28.7,5.1c10.6-0.2,20.6-3.7,30.6-7.1l0,0c10.4-3.7,21.1-6.5,32-8.4C225.9,70.7,236.8,71.2,247.6,70.8L247.6,70.8
				z"/>
			<path id="Fill-3" class="st0" d="M78.1,0c12.7-0.1,25.3,2.3,37.1,7.1c11.6,4.2,23.1,8.3,34.9,12.1c7.4,2.6,15,4.6,22.7,6
				c10.3,1.9,20.9,0.7,30.6-3.4c2.6-1.7,4.9-3.7,7-5.9c0.9-0.8,2.1-1.3,3.3-1.4c1,0.3,1.7,1.2,1.8,2.2c-0.2,1.4-0.9,2.7-1.9,3.7
				c-16.2,13.1-34.7,12.8-53.2,7.4c-18.6-5.5-36.7-12.7-55-18.9C92,4.3,78.2,2.4,64.4,6.9c-6.9,2.3-14.1,4.6-18.4,11.4
				c-1.2,0.7-2.6,1-4,1c-0.3-1.4-0.2-2.8,0.2-4.2c2.9-2.9,6.2-5.5,9.7-7.7C59.8,2.7,68.8,0.1,78.1,0L78.1,0z"/>
			<path id="Fill-4" class="st0" d="M123.7,67c-6.7-2.1-13.3-4.6-19.7-7.4c-9.8-4.8-21-5.5-31.3-2.1c-8.7,2.6-17.4,5.6-26.1,8.4
				c-12.4,4-24.4,1.6-36.3-2.3l0,0c-3.2-1.1-6.1-2.6-8.9-4.5c-0.9-1.3-1.4-2.9-1.5-4.5c1.5,0.2,3,0.5,4.5,0.9
				c5.8,2.5,11.7,4.5,17.8,6.1c6.3,1.1,12.8,1.1,19.1,0c8.3-2,16.5-4.5,24.5-7.5c10.5-3.5,21.2-5.6,32-2.6
				c5.6,1.6,10.8,4.7,16.4,6.7h0c2.9,1,5.9,1.6,9,1.8c2.5,0.2,4.6,0.9,4.3,3.6C127.4,64.8,125.3,65.7,123.7,67L123.7,67z"/>
		</g>
	</g>
</g>
</svg>

{% endcapture %}



{% capture svg_clouds %}
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 800 95" style="enable-background:new 0 0 800 95;" xml:space="preserve">
<style type="text/css">
	.st_0{fill:#FFFFFF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
	.st_1{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
</style>
<g>
	<path class="st_0" d="M107.7,65.3c1,0.1,2,0,3-0.3c0.8,3.3,3.5,5.8,7.1,6.1c3.2,0.3,6.1-1.4,7.5-3.9c0.8,2.6,2.9,4.6,5.7,5.1
		c-0.2,0.6-0.4,1.3-0.5,1.9c-0.3,3.8,2.5,7.2,6.4,7.5c2.1,0.2,4.1-0.6,5.5-2c1.1,1,2.5,1.7,4.1,1.8c3.8,0.3,7.2-2.5,7.5-6.4
		c0.1-1.7-0.3-3.3-1.2-4.6c1.5-0.2,2.9-0.8,4-1.7c1.7,2.6,4.6,4.5,7.9,4.7c5,0.4,9.4-2.7,10.9-7.2c0.4,0.1,0.7,0.1,1.1,0.2
		c4.7,0.4,8.8-3.1,9.2-7.8c0.4-4.7-3.1-8.8-7.8-9.2c-0.8-0.1-1.6,0-2.3,0.1c-1-4.3-4.7-7.7-9.4-8.1c-4.5-0.4-8.6,2.2-10.5,6.1
		c-0.4-0.7-0.9-1.4-1.5-1.9c0.5-0.9,0.8-1.8,0.9-2.9c0.3-4.1-2.7-7.6-6.7-8c-2.4-0.2-4.6,0.8-6.1,2.4c-1.1-2.3-3.3-4-6.1-4.3
		c-4.1-0.3-7.6,2.7-8,6.7c-0.1,1.1,0.1,2.2,0.4,3.1c-1.4,0.9-2.4,2.2-3,3.8c-1.5-1.9-3.8-3.3-6.5-3.5c-4.3-0.4-8.2,2.3-9.6,6.3
		c-0.3-0.1-0.6-0.1-0.9-0.1c-4.4-0.4-8.2,2.9-8.6,7.3C100.1,61,103.3,64.9,107.7,65.3z"/>
	<path class="st_0" d="M155.4,56.8c2.7,1.4,4.3,4.3,3.9,7.5c-0.4,3.2-2.8,5.6-5.8,6.3"/>
	<path class="st_0" d="M154.8,46.2c1.5,1.7,2.4,3.9,2.2,6.3c-0.4,4.6-4.4,7.3-9,7.7c-1.3,0.1-2.3-0.4-2.9-0.9"/>
	<path class="st_0" d="M130.2,72.1c-3.3-1-5.5-4.1-5.2-7.7c0.3-3.7,3.2-6.4,6.8-6.6"/>
	<path class="st_0" d="M140.5,54.4c-1.6,2.4-4.3,3.7-7.3,3.6c-4.5-0.3-8-4.1-7.8-8.7c0.2-2.7,1.6-5,3.7-6.4"/>
	<path class="st_0" d="M166.4,55.9c0,0.2,0.1,0.5,0,0.7c-0.1,1.4-1.4,2.5-2.8,2.3c-1.4-0.1-2.5-1.4-2.3-2.8c0-0.3,0.1-0.6,0.2-0.8
		l0.1-0.1c1-2,3.2-3.4,5.7-3.2c3.2,0.3,5.6,3.1,5.3,6.3c-0.1,1.7-0.9,3.1-2.2,4.1c-1.1,0.9-2.8,1.9-5.1,1.7
		c-2.3-0.2-4.2-0.7-5.8-1.9"/>
	<path class="st_0" d="M146.7,48.3c-0.2,0-0.5,0.1-0.7,0.2c-1.3,0.6-1.9,2.1-1.4,3.4c0.6,1.3,2.1,1.9,3.4,1.4
		c0.3-0.1,0.5-0.3,0.7-0.5l0.1-0.1c1.6-1.6,2.2-4.1,1.2-6.4c-1.2-2.9-4.7-4.3-7.6-3.1c-1.6,0.7-2.6,1.8-3.2,3.4
		c-0.5,1.3-0.9,3.3,0,5.4c0.9,2.1,2.3,3.7,3.8,5.1c1.6,1.5,3.4,3.6,3.7,4.9c0.4,2.3,0.5,4,0,5.4c-0.6,1.6-1.6,2.7-3.2,3.4
		c-2.9,1.3-6.3-0.1-7.6-3.1c-1-2.2-0.4-4.7,1.2-6.4l0.1-0.1c0.2-0.2,0.5-0.4,0.7-0.5c1.3-0.6,2.8,0.1,3.4,1.4
		c0.6,1.3-0.1,2.8-1.4,3.4c-0.2,0.1-0.5,0.2-0.7,0.2"/>
	<path class="st_0" d="M116.6,56c0.1,0.2,0.2,0.4,0.3,0.6c0.8,1.2,2.3,1.5,3.5,0.8c1.2-0.8,1.5-2.3,0.8-3.5c-0.2-0.3-0.4-0.5-0.4-0.5
		c-1.4-1.8-4.1-1.9-6-0.4c-2.2,1.8-2,5.3-0.9,7.4c0.8,1.5,2.2,2.3,3.9,2.6c1.4,0.3,3.4,0.4,5.3-0.9c1.9-1.2,2.2-1.6,5.6-3.4"/>
</g>
<g>
	<path class="st_1" d="M82.7,25c1.5-1,3.4-1.4,5.4-1.1c4.1,0.8,7,4.8,6.5,9c-0.3,2.1-1.4,3.9-3,5c1.5,1.8,2.3,4.2,2,6.7
		c-0.6,4.4-4.7,7.3-9,6.5c-2.1-0.4-3.9-1.6-5.2-3.2c-1.4,3.3-6.2,5.2-11.3,4c-5.8-1.4-11.5-7.1-11.8-13.2c0-0.3,0.1-0.5,0.1-0.7l0,0
		c0.4,0.3,1,0.5,1.5,0.7c2,0.4,3.9-1,4.2-3c0.1-0.8,0.1-1.2-0.3-2.2c-0.5-1-1.6-1.8-1.6-1.8c-0.4-0.2-0.8-0.4-1.2-0.5
		c-0.2,0-0.7-0.1-1-0.1c-1.8-0.2-5.6,0.6-6.7,3.9c-1.1,3.3,0.1,9.6-4.3,9.7c-4.4,0.1-5.9-1.9-5.9-1.9s3.1-2.8,0.5-4.7
		c-2.6-1.9-3.8,1.4-4.2,2.6c-0.4,1.2-2.8,3-4.5,2.5L31,42.7c0,0,1.2-0.3,1.4-1.1c0.2-0.8-0.8-1.9-2.3-0.8c-1.5,1.1-2.9,2.6-5.2,2.1
		c-2.2-0.5-2.8-0.9-4.4,0c-1.5,0.9-3,1-4,0.3c-1-0.8-1.3-1.3-1.3-1.3s0.8,0.7,1.9,0.9c1.1,0.2,2.4-0.2,3.1-1.1
		c0.7-0.9,1-4.6,3.7-4.4c2.7,0.1,5.3,1.2,5.6-1.5c0.3-2.7,1-5.7,4.2-4.1c3.2,1.6,5,2.9,5.3,1.5c0.3-1.3,0-1.7-0.6-2.9
		c-1.2-1.6-1.9-3.6-1.6-5.7c0.5-4,4.2-6.6,8.1-5.8c0.6,0.1,1.2,0.3,1.7,0.6c1.5-6.1,7.3-9.9,13.6-8.7c4.2,0.8,7.6,3.6,9.3,7.2
		c1.6-0.7,3.4-1,5.3-0.6c4,0.8,7,3.9,7.8,7.7"/>
	<path class="st_1" d="M82.6,25c0.2,1,0.3,2.1,0.1,3.2c-0.7,5.1-5.2,8.6-10.6,7.9c-2.5-0.3-5-2.1-6.2-4.8c-0.5-1.1-1.2-3.9,0.9-5.5
		c2.2-1.6,4.3,0.1,4.4,0.2"/>
	<path class="st_1" d="M79.1,47.8c-1.8-1.8-2.3-4.4-0.5-6.6c0.7-1,2.8-3,5.2-1.8c2.4,1.1,2,3.8,2,4"/>
</g>
<g>
	<path class="st_1" d="M234.4,53.8c-0.1,0-0.2,0-0.2,0c0-0.2,0-0.3,0-0.5c0-5.2-4.3-9.4-9.5-9.4c-5.2,0-9.4,4.3-9.4,9.5
		c0,0.2,0,0.3,0,0.5c-0.1,0-0.2,0-0.3,0c-4,0-7.3,3.3-7.3,7.4c0,4,3.3,7.3,7.4,7.3c0.2,0,0.3,0,0.5,0c1,4.2,4.7,7.3,9.2,7.2
		c4.5,0,8.2-3.2,9.1-7.3c0.2,0,0.3,0,0.5,0c4,0,7.3-3.3,7.3-7.4C241.7,57.1,238.4,53.8,234.4,53.8z"/>
	<path class="st_1" d="M225.1,63.4c0.1-0.2,0.3-0.4,0.3-0.6c0.5-1.2-0.1-2.7-1.3-3.2c-0.6-0.2-3-0.4-3.8,1.9c-0.8,2.3,1.1,4,2.2,4.5
		c2.8,1.2,6-0.1,7.2-2.9c0.6-1.5,0.6-3-0.1-4.4c-0.5-1.2-1.5-2.8-3.5-3.7c-2-0.8-5.8-1.2-10.8-1.1"/>
</g>
<g>
	<path class="st_1" d="M496.9,32.9c-0.1,0-0.2,0-0.2,0c0-0.2,0-0.3,0-0.5c0-5.2-4.3-9.4-9.5-9.4c-5.2,0-9.4,4.3-9.4,9.5
		c0,0.2,0,0.3,0,0.5c-0.1,0-0.2,0-0.3,0c-4,0-7.3,3.3-7.3,7.4c0,4,3.3,7.3,7.4,7.3c0.2,0,0.3,0,0.5,0c1,4.2,4.7,7.3,9.2,7.2
		c4.5,0,8.2-3.2,9.1-7.3c0.2,0,0.3,0,0.5,0c4,0,7.3-3.3,7.3-7.4C504.2,36.2,501,32.9,496.9,32.9z"/>
	<path class="st_1" d="M487.6,42.5c0.1-0.2,0.3-0.4,0.3-0.6c0.5-1.2-0.1-2.7-1.3-3.2c-0.6-0.2-3-0.4-3.8,1.9c-0.8,2.3,1.1,4,2.2,4.5
		c2.8,1.2,6-0.1,7.2-2.9c0.6-1.5,0.6-3-0.1-4.4c-0.5-1.2-1.5-2.8-3.5-3.7c-2-0.8-5.8-1.2-10.8-1.1"/>
</g>
<g>
	<path class="st_1" d="M452.1,54.7c1.5-1,3.4-1.4,5.4-1.1c4.1,0.8,7,4.8,6.5,9c-0.3,2.1-1.4,3.9-3,5c1.5,1.8,2.3,4.2,2,6.7
		c-0.6,4.4-4.7,7.3-9,6.5c-2.1-0.4-3.9-1.6-5.2-3.2c-1.4,3.3-6.2,5.2-11.3,4c-5.8-1.4-11.5-7.1-11.8-13.2c0-0.3,0.1-0.5,0.1-0.7l0,0
		c0.4,0.3,1,0.5,1.5,0.7c2,0.4,3.9-1,4.2-3c0.1-0.8,0.1-1.2-0.3-2.2c-0.5-1-1.6-1.8-1.6-1.8c-0.4-0.2-0.8-0.4-1.2-0.5
		c-0.2,0-0.7-0.1-1-0.1c-1.8-0.2-5.6,0.6-6.7,3.9c-1.1,3.3,0.1,9.6-4.3,9.7c-4.4,0.1-5.9-1.9-5.9-1.9s3.1-2.8,0.5-4.7
		c-2.6-1.9-3.8,1.4-4.2,2.6c-0.4,1.2-2.8,3-4.5,2.5l-1.7-0.5c0,0,1.2-0.3,1.4-1.1c0.2-0.8-0.8-1.9-2.3-0.8c-1.5,1.1-2.9,2.6-5.2,2.1
		c-2.2-0.5-2.8-0.9-4.4,0c-1.5,0.9-3,1-4,0.3c-1-0.8-1.3-1.3-1.3-1.3s0.8,0.7,1.9,0.9c1.1,0.2,2.4-0.2,3.1-1.1
		c0.7-0.9,1-4.6,3.7-4.4c2.7,0.1,5.3,1.2,5.6-1.5c0.3-2.7,1-5.7,4.2-4.1c3.2,1.6,5,2.9,5.3,1.5c0.3-1.3,0-1.7-0.6-2.9
		c-1.2-1.6-1.9-3.6-1.6-5.7c0.5-4,4.2-6.6,8.1-5.8c0.6,0.1,1.2,0.3,1.7,0.6c1.5-6.1,7.3-9.9,13.6-8.7c4.2,0.8,7.6,3.6,9.3,7.2
		c1.6-0.7,3.4-1,5.3-0.6c4,0.8,7,3.9,7.8,7.7"/>
	<path class="st_1" d="M451.9,54.8c0.2,1,0.3,2.1,0.1,3.2c-0.7,5.1-5.2,8.6-10.6,7.9c-2.5-0.3-5-2.1-6.2-4.8
		c-0.5-1.1-1.2-3.9,0.9-5.5c2.2-1.6,4.3,0.1,4.4,0.2"/>
	<path class="st_1" d="M448.5,77.5c-1.8-1.8-2.3-4.4-0.5-6.6c0.7-1,2.8-3,5.2-1.8c2.4,1.1,2,3.8,2,4"/>
</g>
<g>
	<path class="st_0" d="M538.8,48.8c1,0.1,2,0,3-0.3c0.8,3.3,3.5,5.8,7.1,6.1c3.2,0.3,6.1-1.4,7.5-3.9c0.8,2.6,2.9,4.6,5.7,5.1
		c-0.2,0.6-0.4,1.3-0.5,1.9c-0.3,3.8,2.5,7.2,6.4,7.5c2.1,0.2,4.1-0.6,5.5-2c1.1,1,2.5,1.7,4.1,1.8c3.8,0.3,7.2-2.5,7.5-6.4
		c0.1-1.7-0.3-3.3-1.2-4.6c1.5-0.2,2.9-0.8,4-1.7c1.7,2.6,4.6,4.5,7.9,4.7c5,0.4,9.4-2.7,10.9-7.2c0.4,0.1,0.7,0.1,1.1,0.2
		c4.7,0.4,8.8-3.1,9.2-7.8c0.4-4.7-3.1-8.8-7.8-9.2c-0.8-0.1-1.6,0-2.3,0.1c-1-4.3-4.7-7.7-9.4-8.1c-4.5-0.4-8.6,2.2-10.5,6.1
		c-0.4-0.7-0.9-1.4-1.5-1.9c0.5-0.9,0.8-1.8,0.9-2.9c0.3-4.1-2.7-7.6-6.7-8c-2.4-0.2-4.6,0.8-6.1,2.4c-1.1-2.3-3.3-4-6.1-4.3
		c-4.1-0.3-7.6,2.7-8,6.7c-0.1,1.1,0.1,2.2,0.4,3.1c-1.4,0.9-2.4,2.2-3,3.8c-1.5-1.9-3.8-3.3-6.5-3.5c-4.3-0.4-8.2,2.3-9.6,6.3
		c-0.3-0.1-0.6-0.1-0.9-0.1c-4.4-0.4-8.2,2.9-8.6,7.3C531.2,44.6,534.4,48.4,538.8,48.8z"/>
	<path class="st_0" d="M586.5,40.3c2.7,1.4,4.3,4.3,3.9,7.5c-0.4,3.2-2.8,5.6-5.8,6.3"/>
	<path class="st_0" d="M586,29.7c1.5,1.7,2.4,3.9,2.2,6.3c-0.4,4.6-4.4,7.3-9,7.7c-1.3,0.1-2.3-0.4-2.9-0.9"/>
	<path class="st_0" d="M561.3,55.6c-3.3-1-5.5-4.1-5.2-7.7c0.3-3.7,3.2-6.4,6.8-6.6"/>
	<path class="st_0" d="M571.6,37.9c-1.6,2.4-4.3,3.7-7.3,3.6c-4.5-0.3-8-4.1-7.8-8.7c0.2-2.7,1.6-5,3.7-6.4"/>
	<path class="st_0" d="M597.5,39.4c0,0.2,0.1,0.5,0,0.7c-0.1,1.4-1.4,2.5-2.8,2.3c-1.4-0.1-2.5-1.4-2.3-2.8c0-0.3,0.1-0.6,0.2-0.8
		l0.1-0.1c1-2,3.2-3.4,5.7-3.2c3.2,0.3,5.6,3.1,5.3,6.3c-0.1,1.7-0.9,3.1-2.2,4.1c-1.1,0.9-2.8,1.9-5.1,1.7
		c-2.3-0.2-4.2-0.7-5.8-1.9"/>
	<path class="st_0" d="M577.8,31.9c-0.2,0-0.5,0.1-0.7,0.2c-1.3,0.6-1.9,2.1-1.4,3.4c0.6,1.3,2.1,1.9,3.4,1.4
		c0.3-0.1,0.5-0.3,0.7-0.5l0.1-0.1c1.6-1.6,2.2-4.1,1.2-6.4c-1.2-2.9-4.7-4.3-7.6-3.1c-1.6,0.7-2.6,1.8-3.2,3.4
		c-0.5,1.3-0.9,3.3,0,5.4c0.9,2.1,2.3,3.7,3.8,5.1c1.6,1.5,3.4,3.6,3.7,4.9c0.4,2.3,0.5,4,0,5.4c-0.6,1.6-1.6,2.7-3.2,3.4
		c-2.9,1.3-6.3-0.1-7.6-3.1c-1-2.2-0.4-4.7,1.2-6.4l0.1-0.1c0.2-0.2,0.5-0.4,0.7-0.5c1.3-0.6,2.8,0.1,3.4,1.4
		c0.6,1.3-0.1,2.8-1.4,3.4c-0.2,0.1-0.5,0.2-0.7,0.2"/>
	<path class="st_0" d="M547.7,39.6c0.1,0.2,0.2,0.4,0.3,0.6c0.8,1.2,2.3,1.5,3.5,0.8c1.2-0.8,1.5-2.3,0.8-3.5
		c-0.2-0.3-0.4-0.5-0.4-0.5c-1.4-1.8-4.1-1.9-6-0.4c-2.2,1.8-2,5.3-0.9,7.4c0.8,1.5,2.2,2.3,3.9,2.6c1.4,0.3,3.4,0.4,5.3-0.9
		c1.9-1.2,2.2-1.6,5.6-3.4"/>
</g>
<g>
	<path class="st_1" d="M363.9,64.6c-0.1,0-0.2,0-0.2,0c0-0.2,0-0.3,0-0.5c0-5.2-4.3-9.4-9.5-9.4c-5.2,0-9.4,4.3-9.4,9.5
		c0,0.2,0,0.3,0,0.5c-0.1,0-0.2,0-0.3,0c-4,0-7.3,3.3-7.3,7.4c0,4,3.3,7.3,7.4,7.3c0.2,0,0.3,0,0.5,0c1,4.2,4.7,7.3,9.2,7.2
		c4.5,0,8.2-3.2,9.1-7.3c0.2,0,0.3,0,0.5,0c4,0,7.3-3.3,7.3-7.4C371.2,67.8,368,64.6,363.9,64.6z"/>
	<path class="st_1" d="M354.6,74.2c0.1-0.2,0.3-0.4,0.3-0.6c0.5-1.2-0.1-2.7-1.3-3.2c-0.6-0.2-3-0.4-3.8,1.9c-0.8,2.3,1.1,4,2.2,4.5
		c2.8,1.2,6-0.1,7.2-2.9c0.6-1.5,0.6-3-0.1-4.4c-0.5-1.2-1.5-2.8-3.5-3.7c-2-0.8-5.8-1.2-10.8-1.1"/>
</g>
<g>
	<path class="st_1" d="M322.1,34.4c1.5-1,3.4-1.4,5.4-1.1c4.1,0.8,7,4.8,6.5,9c-0.3,2.1-1.4,3.9-3,5c1.5,1.8,2.3,4.2,2,6.7
		c-0.6,4.4-4.7,7.3-9,6.5c-2.1-0.4-3.9-1.6-5.2-3.2c-1.4,3.3-6.2,5.2-11.3,4c-5.8-1.4-11.5-7.1-11.8-13.2c0-0.3,0.1-0.5,0.1-0.7l0,0
		c0.4,0.3,1,0.5,1.5,0.7c2,0.4,3.9-1,4.2-3c0.1-0.8,0.1-1.2-0.3-2.2c-0.5-1-1.6-1.8-1.6-1.8c-0.4-0.2-0.8-0.4-1.2-0.5
		c-0.2,0-0.7-0.1-1-0.1c-1.8-0.2-5.6,0.6-6.7,3.9c-1.1,3.3,0.1,9.6-4.3,9.7c-4.4,0.1-5.9-1.9-5.9-1.9s3.1-2.8,0.5-4.7
		c-2.6-1.9-3.8,1.4-4.2,2.6c-0.4,1.2-2.8,3-4.5,2.5l-1.7-0.5c0,0,1.2-0.3,1.4-1.1c0.2-0.8-0.8-1.9-2.3-0.8c-1.5,1.1-2.9,2.6-5.2,2.1
		c-2.2-0.5-2.8-0.9-4.4,0c-1.5,0.9-3,1-4,0.3c-1-0.8-1.3-1.3-1.3-1.3s0.8,0.7,1.9,0.9c1.1,0.2,2.4-0.2,3.1-1.1
		c0.7-0.9,1-4.6,3.7-4.4c2.7,0.1,5.3,1.2,5.6-1.5c0.3-2.7,1-5.7,4.2-4.1c3.2,1.6,5,2.9,5.3,1.5c0.3-1.3,0-1.7-0.6-2.9
		c-1.2-1.6-1.9-3.6-1.6-5.7c0.5-4,4.2-6.6,8.1-5.8c0.6,0.1,1.2,0.3,1.7,0.6c1.5-6.1,7.3-9.9,13.6-8.7c4.2,0.8,7.6,3.6,9.3,7.2
		c1.6-0.7,3.4-1,5.3-0.6c4,0.8,7,3.9,7.8,7.7"/>
	<path class="st_1" d="M321.9,34.4c0.2,1,0.3,2.1,0.1,3.2c-0.7,5.1-5.2,8.6-10.6,7.9c-2.5-0.3-5-2.1-6.2-4.8
		c-0.5-1.1-1.2-3.9,0.9-5.5c2.2-1.6,4.3,0.1,4.4,0.2"/>
	<path class="st_1" d="M318.5,57.2c-1.8-1.8-2.3-4.4-0.5-6.6c0.7-1,2.8-3,5.2-1.8c2.4,1.1,2,3.8,2,4"/>
</g>
</svg>

 {% endcapture %}